"*":
  "atom-beautify":
    general:
      _analyticsUserId: "0029b309-a045-493b-81a5-69746fb383cb"
    js:
      end_with_newline: true
      keep_function_indentation: true
      space_after_anon_function: true
  "atom-lint": {}
  "autocomplete-plus": {}
  autosave:
    enabled: true
  build: {}
  "collaborative-edit":
    DocumentName: "ServerStartTest.spec.js"
  core:
    disabledPackages: [
      "exception-reporting"
      "metrics"
      "jshint"
      "language-javascript-jsx"
      "js-autoimport"
      "symbol-gen"
      "search"
      "npm-docs"
      "minimap-selection"
      "minimap-highlight-selected"
      "minimap-git-diff"
      "minimap-find-and-replace"
      "minimap-bookmarks"
      "minimap-autohide"
      "compare-files"
      "jsformat"
      "language-html-swig"
      "language-jade"
      "node-resolver"
      "javascript-snippets"
      "welcome"
      "symbols-view"
    ]
    excludeVcsIgnoredPaths: false
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    fontFamily: "Menlo"
    fontSize: 12
    invisibles: {}
    preferredLineLength: 100
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
  "fuzzy-finder": {}
  "git-blame":
    customCommitUrlTemplateString: "https://github.intuit.com/<%- project %>/<%- repo %>/commit/<%- revision %>"
    useCustomUrlTemplateIfStandardRemotesFail: true
  "git-blame-plus":
    customCommitUrlTemplateString: "https://github.intuit.com/<%- project %>/<%- repo %>/commit/<%- revision %>"
    useCustomUrlTemplateIfStandardRemotesFail: true
  "git-diff":
    showIconsInEditorGutter: true
  "git-plus": {}
  "git-projects":
    ignoredPath: "/Users/kbrown12/dev/qbo;"
    rootPath: "/Users/kbrown12/dev/"
  "grunt-runner":
    gruntPaths: [
      "/usr/local/bin/grunt"
    ]
  jsformat:
    format_on_save: false
    space_after_anon_function: true
  linter:
    ignoredLinterErrors: [
      "jshint"
    ]
    showInfoMessages: true
    statusBar: "Show error if the cursor is in range"
    subtleLinterErrors: [
      "jscs"
      "shellcheck"
    ]
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
    globalNodePath: "/usr/local/bin"
  "linter-jscs":
    messageType: "error"
    onlyConfig: true
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
  "linter-scss-lint":
    executablePath: "/Users/kbrown12/.rvm/gems/ruby-1.9.3-p429/bin/scss-lint"
  "local-history":
    difftoolCommand: "opendiff \"{current-file}\" \"{revision-file}\""
  "merge-conflicts": {}
  minimap:
    plugins:
      bookmarks: true
      "find-and-replace": true
      "git-diff": true
      "highlight-selected": true
      "minimap-autohide": true
      selection: true
  motepair: {}
  "one-dark-ui": {}
  pigments: {}
  react: {}
  "release-notes":
    viewedVersion: "0.89.0"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  "status-bar": {}
  tabs:
    enableVcsColoring: true
    tabScrolling: true
    usePreviewTabs: true
  term2: {}
  "terminal-panel": {}
  "terminal-status": {}
  "todo-show": {}
  "tree-view": {}
  welcome:
    showOnStartup: false
".diff.source":
  editor:
    preferredLineLength: 100
".html.swig.text":
  editor:
    preferredLineLength: 100
".ini.source":
  editor:
    autoIndent: true
    preferredLineLength: 100
".js.jsx.react.source":
  editor:
    preferredLineLength: 100
".js.jsx.source":
  editor:
    preferredLineLength: 100
".js.source.subtlegradient":
  editor:
    preferredLineLength: 100
